<h2>People list</h2>

<% @events.each do |e| %>

<ul>
    <li>
      <%= e.name %>
      <%= link_to "Show", event_path(e) %>
      <%= link_to "Edit", edit_event_path(e) %>
      <%= link_to "Destroy", event_path(e), :method => :delete %>
    </li>

</ul>

<% end %>

<p>
<%= link_to "New person", new_event_path %>
</p>
<%= paginate @events %>